@charset "utf-8";

  // @font-face {
  //   font-family: "sk-fontFamily-M";
  //   src: url("../fonts/MiSans-Medium.otf") format("truetype");
  //   font-weight: normal;
  //   font-style: normal;
  // }
  // @font-face {
  //   font-family: "sk-fontFamily-SB";
  //   src: url("../fonts/MiSans-Semibold.otf") format("truetype");
  //   font-weight: normal;
  //   font-style: normal;
  // }
  
