<div class="wal" style="--negative_space_top_bottom: {{default negativeSpaceTopBottom '0px'}};">
  {{#if @partial-block}}
    {{> @partial-block}}
  {{else}}
  {{> partials/p_txt text='not found' }}
  {{/if}}
</div>